@import "../../colors.scss";
.spinner {
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products {
  font-family: var(--font-poppins);
  .filter {
    margin-bottom: 100px;
    p {
      background-color: black;
      padding: 0.5rem 2rem;
      color: #fff;
      font-weight: 500;
      letter-spacing: 0.5px;
      font-size: 1.2rem;
      width: 100%;
    }

    .categories {
      li {
        margin: 2px 0;
        &:hover {
          color: var(--color-gray);
        }
      }
    }
  }
}

.searchContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .searchInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
  }

  .clearSearchBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 40px;
    color: white;
    background-color: $Color1;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    span {
      font-size: 15px;
      font-weight: bold;
    }

    &:hover {
      background-color: #999;
    }
  }
  .searchBtn {
    background-color: $Color1;
    color: white;
    padding: 6px;
    border-radius: 3px;
  }
}
.product {
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  max-width: 250px;
  font-family: var(--font-poppins);
  position: relative;
  transition: all 0.5s ease-in-out;

  &:hover .product_image {
    img {
      transform: scale(0.8, 0.8);
    }
  }
  &:hover .link_container {
    display: grid;
  }

  .product_image {
    height: 200px;
    text-align: center;
    img {
      width: 160px;
      height: 160px;
      object-fit: contain;
      transition: all 0.5s ease-in-out;
    }
  }

  a {
    text-decoration: none;

    text-align: center;
    margin-top: 10px;
    color: var(--color-black);

    .product_name {
      margin-top: 10px;
      height: 50px;
      font-size: 15px;
      font-weight: 600;
    }
  }
  .button_add_to_Cart {
    color: blueviolet;
  }
  .button_add {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    background-color: $Color1;
    color: white;
    font-size: small;
  }
  .product_rating {
    width: max-content;
  }

  .link_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    top: 10%;
    right: 8%;
    z-index: 1;
    display: none;

    button {
      background-color: #fff;
      border: none;
      padding: 5px;
      border-radius: 50%;
      color: rgb(218, 131, 145);
      cursor: pointer;
    }

    a {
      background-color: #fff;
      padding: 5px;
      border-radius: 50%;
      color: rgb(47, 45, 218);
      cursor: pointer;
    }
  }
}
